<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top">
    <div class="container">
        <a class="navbar-brand me-2" href="https://www.linkedin.com/in/ansarisabid/">
            <img src="assets/logo/logo.png" height="24" alt="App Logo" loading="lazy"
                style="margin-top: -1px; margin-right: -5px;" />
        </a>

        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>


        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

            <!-- <div class="d-flex align-items-center">
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1"
                    href="mailto:ansarisabid84@gmail.com?subject=Inquiry%20About%20Your%20Profile&body=Hello%20Sabid%2C%0A%0AI%20am%20interested%20in%20your%20profile.%0A%0ACould%20we%20discuss%20further%20details%20regarding%20your%20work%20experience%20and%20projects%3F%0A%0AThank%20you%2C%0A%5BYour%20Name%5D%0A"
                    role="button"><fa-icon [icon]="fa_icons.faGoogle"></fa-icon></a>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1"
                    href="https://www.linkedin.com/in/ansarisabid/" role="button"><fa-icon
                        [icon]="fa_icons.faLinkedIn"></fa-icon></a>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/ansarisabid84"
                    role="button"><fa-icon [icon]="fa_icons.faGithub"></fa-icon></a>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/ansarisabid84"
                    role="button"><fa-icon [icon]="fa_icons.faLightbulb"></fa-icon></a>
            </div> -->

            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-light p-2">About</button>
                <button type="button" class="btn btn-light p-2">Experiences</button>
                <button type="button" class="btn btn-light p-2">Education</button>
                <button type="button" class="btn btn-light p-2">Projects</button>
                <button type="button" class="btn btn-light p-2">Contact Me</button>
            </div>
        </div>
    </div>
</nav>